* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: arial;
}

.conteiner a {
  text-decoration: none;
}

.original {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  margin-top: 1%;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

.hi__top {
  height: 8vh;
  display: flex;
  background-color: aliceblue;
  justify-content: space-between;
  border-radius: 0px 0px 45px 0px;
}

.hi__logo img {
  height: 100%;
}

.hi__logo {
  min-width: 45%;
  display: flex;
  box-shadow: 0 0px 10px black;
  border-radius: 0px 0px 50px 0px;
}

.hi__foto {
  height: 100%;
  display: grid;
  display: flex;
}

.hi__text {
  background-color: white;
  font-size: 100%;
  overflow: hidden;
  padding-left: 2%;
  border-radius: 0px 0px 50px 0px;
}

.hi__langeage {
  max-width: 30%;
  font-size: 1.3vw;
  display: inline-flex;
  justify-content: flex-end;
}

.hi__img {
  margin: auto 0;
  height: 30%;
}

.hi__img img {
  height: 100%;
  border-radius: 50%;
}

.hi__lenguage {
  margin: auto 0;
  position: relative;
}

.hi__soc {
  max-width: 20%;
  display: inline-flex;
  justify-content: space-around;
}

.soc {
  height: 50%;
  border-radius: 50%;
  margin: auto 0;
}

.soc img {
  height: 100%;
}

.footer .footer__row {
  padding: 0.5%;
  background: mediumpurple;
  text-align: center;
  font-family: monospace;
}

.geo__row {
  background-color: cornsilk;
  padding: 2vh 2vw;
}

.geo__center {
  height: 100%;
  box-shadow: 0px 0.5px white;
  display: flex;
  justify-content: space-around;
}

.geo__title {
  text-align: center;
  padding: 5% 0;
}

.menu__rov {
  height: 6vh;
  padding: 1vh 0vw;
}

.menu__menu {
  background: #f08c78;
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
}

.menu__column {
  width: inherit;
  height: 100%;
  font-size: 1.2vw;
  text-align: center;
  background: lavender;
  box-shadow: 0 0 10px black;
  color: white;
  transition-duration: 1s;
  cursor: pointer;
}

.geo__column li {
  background: gainsboro;
  height: 3vh;
  transition: all 0.5s ease 0s;
  box-shadow: 0 2px 0px black;
}

.geo__column li:hover {
  background: azure;
  box-shadow: 0 2px 0px black;
}

.geo__column img {
  height: 100%;
  padding-right: 10%;
  margin-left: 5%;
}

.geo__column {
  width: 50%;
  text-align: center;
  background: azure;
  padding-bottom: 2vh;
  border-radius: 20px;
  padding-right: 2%;
  box-shadow: 0 0 10px cadetblue;
}

.geo__column._Kont li {
  text-align: inherit;
  display: flex;
}

.geo__punkt {
  text-align: center;
}

.geo__tocolumn {
  display: flex;
  width: 50%;
}

.menu__list {
  position: absolute;
  left: 0%;
  top: 10vh;
  width: 100%;
  z-index: -10;
  transition: all 1s ease 0s;
  height: 0%;
}

.menu__list li {
  padding: 7.5% 0;
  background: white;
  color: black;
  transition: all 0.5s ease 0s;
}

.menu__facult {
  box-shadow: 0px 2px black;
}

.menu__list li:hover {
  background: gold;
  box-shadow: 0 0 10px white;
}

.menu__element._el {
  transition: all 0.5s ease 0s;
}

.menu__element._el:hover .menu__list {
  z-index: 1;
  height: 100%;
  top: 100%;
}

.menu__column:hover {
  background: #bc1339;
  color: gold;
  box-shadow: 0 0 10px white;
}

.menu__element {
  background: azure;
  height: 3vh;
  padding: 1vh 0;
  position: relative;
  color: black;
}

.preBody__row {
  background-image: url(../../Img/preBody.jpg);
  background-size: cover;
  height: 70vh;
  padding: 20%;
  margin-top: -1%;
}

@media (max-width: 767px) {
  .preBody__row {
    height: auto;
    margin-top: 2%;
  }
}
.preBody__text {
  color: white;
  font-size: 3vw;
  text-align: center;
  text-shadow: 2px 0 black;
  transition: all 0.5s ease 0s;
}

.preBody__text:hover {
  color: gold;
}

.body__title {
  margin-top: 0%;
  background: mediumpurple;
  padding: 1vh 0;
  font-size: 3vw;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 0 black;
  color: white;
  box-shadow: 0px -1px black;
}

.body__conteiner {
  height: 50vh;
  display: inline-flex;
}

@media (max-width: 767px) {
  .body__conteiner {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
.body__image {
  width: 60%;
  padding: 0.5%;
  background: dimgrey;
  height: 100%;
}

@media (max-width: 767px) {
  .body__image {
    width: 100%;
  }
}
.body__image img {
  width: 100%;
  height: 100%;
}

.body__box {
  width: 40%;
  background: lavender;
  height: 100%;
}

@media (max-width: 767px) {
  .body__box {
    width: 100%;
  }
}
.body__body__title {
  background: dimgrey;
  padding: 2%;
  text-align: center;
  font-size: 150%;
  color: white;
  text-shadow: 2px 0 black;
}

.body__body__special {
  background: lavender;
  padding: 1.2vh 2vw;
  font-size: 100%;
}

.body__body__special li {
  padding: 1% 0;
}

._spec {
  display: inline-flex;
  width: 100%;
  padding: 0px;
}

.body__rowes {
  width: 50%;
  padding: 2%;
  font-size: 100%;
}

.body__row:last child {
  margin-bottom: 20%;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .hi__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 10;
    margin: auto;
    top: 30%;
  }

  .hi__burger:before, .hi__burger:after {
    content: "";
    background: black;
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease 0s;
  }

  .hi__burger span {
    background: black;
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    top: 9px;
    transition: all 0.5s ease 0s;
  }

  .hi__burger.active span {
    transform: scale(0);
  }

  .hi__burger:before {
    top: 0;
  }

  .hi__burger.active:before {
    top: 9px;
    transform: rotate(45deg);
  }

  .hi__burger:after {
    bottom: 0px;
  }

  .hi__burger.active:after {
    bottom: 9px;
    transform: rotate(-45deg);
  }

  .hi__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .hi__top {
    position: fixed;
    height: 10vh;
  }

  .hi__burger__wra {
    width: 20%;
    align-items: center;
    justify-content: inherit;
    height: 100%;
  }

  .menu__rov {
    height: 7vh;
    background: none;
    width: 100%;
  }

  .hi__logo {
    min-width: 100vw;
    position: relative;
    padding: 2%;
  }

  .hi__langeage {
    display: none;
  }

  .menu__select {
    width: 0%;
    position: relative;
    top: 6.6vh;
    top: -100%;
  }

  .menu__menu {
    background: #f08c78;
    width: 100%;
    height: 13vh;
    justify-content: space-between;
    position: fixed;
    display: block;
    top: -100%;
    transition: all 0.7s ease 0s;
    overflow: auto;
  }

  .menu__element {
    height: 7vh;
  }

  .menu__menu.active {
    top: 15%;
    height: -webkit-fill-available;
    transition: all 0.7s ease 0s;
  }

  .menu__column {
    width: 100%;
    height: 9vh;
    font-size: 3vw;
    text-align: center;
    box-shadow: 0 0 10px black;
    color: white;
    transition-duration: 1s;
    cursor: pointer;
  }

  .hi__soc {
    position: fixed;
    top: -1000px;
    transition: all 0.7s ease 0s;
    min-width: 100vw;
    background: #f08c78;
    display: inline-flex;
    justify-content: space-around;
    height: 6vh;
    z-index: -10;
  }

  .hi__soc.active {
    min-width: 100vw;
    background: aliceblue;
    display: inline-flex;
    justify-content: space-around;
    height: 6vh;
    position: absolute;
    top: 100%;
  }

  .hi__text {
    width: 100%;
    padding-left: 5%;
    margin: 0 3%;
  }

  .menu__list {
    display: none;
    transition: all 0.7s ease 0s;
  }

  .menu__element._el:hover .menu__list {
    z-index: 1;
    height: 100%;
    top: 100%;
  }

  .menu__list.active {
    display: block;
    z-index: 1;
    height: 100%;
    top: 100%;
  }

  .geo__tocolumn {
    display: flex;
    width: 100%;
  }

  .geo__center {
    display: block;
  }

  .geo__column {
    width: 50%;
  }
}